#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width:100%;
    max-width: 1440px;
    min-width: 320px;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width:100%;
    max-width: 1440px;
    min-width: 320px;
}

.main-employees-list {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:5%;
    padding-bottom: 5%;
    width:100%;
    max-width: 1440px;
    min-width: 320px;
    height:100%;
    border: 1px solid black;
}

.title-main-page {
    text-align: center;
    color:rgb(70, 99, 20);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 2rem;
}

.row-entries {
    position: relative;
    margin-top:20px;
    padding-left: 0%;
    padding-right:0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 74%;
}

.formData-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:20%;
}

.form-select:hover, .form-control-search:hover, .fa-search:hover{
    cursor: pointer;
}

.label-select-show {
    width:60%;
    font-family: 'Roboto';
    color:#565869;
    font-size: 16px;
}

#label-search-bar {
    width:35%;
    font-family: 'Roboto';
    color:#565869;
    font-size: 16px;
}

.form-select.show {
    width: 40%;
}

.form-control-search {
    padding-left:10px;
    width:95%;
    height:50px;
    border:1px solid #565869;
    border-radius:10px;
    box-shadow: inset 0px 0px 25px #5658697c;
}

.fa-search {
    position:absolute;
    right:1.5%;
}

#react-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
    overflow-x: auto;
}

.row-bottom {
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content: space-between;
    padding-left:10%;
    padding-right:10%;
}

.account-employees {
    display:flex;
    flex-direction: row;
    font-family: 'Roboto';
    color:#565869;
    font-size:18px;
    font-weight: 500;
}

.show-number, .show-number-to, .show-number-of{
    margin-right: 5px;
    margin-left: 5px;
}
.container-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:200px;
}

.prev, .next {
    border:none;
    background: #565869;
    box-shadow: 0px 0px 8px #565869 ;
    color: white;
    width: 90px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 25px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    border: none;
}
@media screen and (max-width:768px) {
    .main-employees-list {
        padding-top: 0px;
    }

    .title-main-page {
        margin-top:40px;
        font-size: 1.3rem;
    }

    .row-entries {
        position: relative;
        width: 100%;
        flex-direction: column-reverse; 
        align-items: center; 
        padding: 0 5%; 
    }

    .formData-home {
        width: 100%; 
        margin-bottom: 10px; 
    }

    #label-search-bar {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .fa-search {
        right:7%;
    }

    .form-select.show {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .form-control-search {
        width: 100%;
        min-width:250px; 
    }

    #react-table {
        overflow-x: auto;
        margin: 0;
        padding: 0;
    }

    .row-bottom {
        flex-direction: column-reverse;
        padding: 0;
        height:90px;
        justify-content: center;
        align-items: center;
    }
    
    .account-employees {
        margin-top: 20px;
    }
    
    .show-number, .show-number-to, .show-number-of{
        margin-right: 5px;
        margin-left: 5px;
    }
    .container-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width:200px;
    }
    
    .prev, .next {
        border:none;
        background: #565869;
        box-shadow: 0px 0px 8px #565869 ;
        color: white;
        width: 90px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 25px;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        border: none;
    }



}