.dropdown {
    width:80%;
}

.react-select-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.label-dropdown {
    width: 100%;
    font-family: 'Roboto';
    color: #565869;
    font-size: 1.4rem;
}

.react-select__control {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    color: #565869;
    font-size: 1.4rem;
    border: 1px solid #5658697c;
    background: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 25px #5658697c;
}

.react-select__control:hover {
    cursor: pointer;
    background: white;
    color: #565869;
    box-shadow: inset 0px 0px 25px #5658697c;
}

.react-select__menu {
    width: 100%;
}

.react-select__option {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .react-select-container, .dropdown {
        width: 100%;
        justify-content: center;
        align-items: left;
    }
    .label-dropdown {
        margin: 0;
        padding-left: 0;
    }

    .react-select__control {
        width: 100%;
    }

    .react-select__menu {
        width: 100%;
    }
}

